/* 
 * ©2024 The LingChair Project
 * 
 * Make a more colorful world...
 * 
 * License - Apache License 2.0
 * Author - @MoonLeeeaf <https://github.com/MoonLeeeaf>
 * Organization - @LingChair <https://github.com/LingChair>
 */

/* 滑条*/
.no-scroll-bar::-webkit-scrollbar {
    width: 0px !important;
}

/* https://blog.csdn.net/qq_39347364/article/details/111996581*/
*::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}

/* 使用系统字体 在部分系统表现很好*/
/* 我们至今仍未能知道桌面端浏览器字体的秘密*/
*:not(.material-icons, .mdui-icon, mdui-icon, .fa, .google-symbols) {
    font-family: -apple-system, system-ui, -webkit-system-font !important;
}

body {
    display: flex;
    margin: 0 0 0 0;
}

/* 防止小尺寸图片模糊*/
* {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

/* 与窗口同大小*/
.size-as-window {
    width: var(--window-width);
    height: var(--window-height);
}

/* Flex - 铺满*/
.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

/* 链接使用主题色*/
a {
    color: rgb(var(--mdui-color-primary));
}

.contents-only {
    display: contents;
}