<!-- 消息列表容器 -->
<template id="message-holder-template">
    <div style="display: flex; flex-direction: column; justify-content: flex-end; /* align-items: center */; padding-top: 10px; padding-bottom: 14px;"
        id="holder">
        <!-- 默认槽位 如果没有 内部嵌套元素将不会被渲染 -->
        <slot></slot>
    </div>
</template>
<!-- 普通消息 (默认左) -->
<template id="message-normal-template">
    <div style="display: none;" id="sender-id"></div>
    <div id="_direction_1" style="width: 100%; display: flex; justify-content: flex-start; flex-direction: column;">
        <div id="_direction_2" style="display: flex; justify-content: flex-start;">
            <span style="align-self: center;" id="sender-name-left"></span>
            <mdui-avatar style="width: 50px; height: 50px; margin: 15px;" id="avatar"></mdui-avatar>
            <span style="align-self: center;" id="sender-name-right"></span>
        </div>
        <mdui-card id="_direction_3"
            style="max-width: 80%; min-width: 0%; margin-left: 55px; margin-top: -5px; padding: 15px; align-self: flex-start;">
            <span id="msg">
                <slot></slot>
            </span>
        </mdui-card>
    </div>
</template>
<!-- 系统消息 -->
<template id="message-system-template">
    <div style="width: 100%; flex-direction: column; display: flex; margin-top: 25px; margin-bottom: 20px;">
        <mdui-card variant="filled" id="msg"
            style="align-self: center; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">
            <slot></slot>
        </mdui-card>
    </div>
</template>

<!-- 侧边导航栏 -->
<template id="main-navigation-template">
    <mdui-navigation-rail contained>
        <mdui-button-icon icon="menu" slot="top"></mdui-button-icon>
        <mdui-dropdown slot="top" trigger="hover">
            <mdui-fab lowered icon="watch_later--outlined" slot="trigger"></mdui-fab>
            <mdui-menu>
                <mdui-menu-item>最近</mdui-menu-item>
                <mdui-menu-item>联系人</mdui-menu-item>
                <mdui-menu-item>群聊</mdui-menu-item>
            </mdui-menu>
        </mdui-dropdown>

        <mdui-button-icon icon="settings" slot="bottom"></mdui-button-icon>

        <slot></slot>
    </mdui-navigation-rail>
</template>
<!-- 侧边导航栏 - 列表项目 -->
<template id="main-navigation-item-template">
    <mdui-navigation-rail-item >
        <mdui-tooltip slot="icon" id="tip">
            <mdui-avatar id="avatar"></mdui-avatar>
        </mdui-tooltip>
    </mdui-navigation-rail-item>
</template>